<!DOCTYPE html>
<html>
<head>
    <title>Multi2Sim Visualization Tool</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.17.0/vis.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.17.0/vis.min.css" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <h1>Display instruction timeline</h1>
    <div id="timeline_container"></div>
    <script src="/js/timeline.js"></script>
    <link href="/css/timeline.css" rel="stylesheet" type="text/css" />
</body>

</html>
