<!DOCTYPE html>
<html>
<head>
    <title>Multi2Sim Visualization Tool</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/dashboard.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.17.0/vis.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/timeline.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <!-- Top navigation bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Multi2Sim Visualization Tool</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" onsubmit="timelineFunc()">
            <input id="filterForm" type="text" class="form-control" placeholder="Filter...">
            <input id="filterSubmit" type="submit" class="btn btn-primary" value="Show">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <!-- Left sidebar area -->
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Timeline<span class="sr-only">(current)</span></a></li>
                <li><a href="#">Statistics</a></li>
                <li><a href="#">Analytics</a></li>
                <li><a href="#">Export</a></li>
                </ul>
            </div>
            <!-- Visualization area -->
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <!-- Container -->
                <div id="timeline_container"></div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.17.0/vis.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/timeline.js"></script>

</body>

</html>
